/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
$default-gray: #ced4da;
.home-content{
    height: 100vh;
}

html, body { height: 100%; }
body { margin: 0;
     font-family:'Montserrat', sans-serif !important; 
    font-size: 16px !important;}
h3{
    font-size: 1.75rem !important;
}
h2{
    font-size: 2rem !important;
}
h4 {
    font-size: 1.5rem !important;
}
h5 {
    font-size: 1.25rem !important;
}
h6{
    font-size: 1rem !important;
}
.dropdown-toggle{
    border: 1px solid $default-gray;

}
.cdk-overlay-backdrop {
    z-index: 100; 
}
.input-error{
    border: #ff00006e solid 1px;
}
.input-normal{
    border: 1px solid $default-gray;;
}
/* home */
.home{
    background-position-x: right;
    background-image: url('./assets/images/airline-new-generic.jpg');

}
.content{
    background-color: #e5e5e580;
    border-radius: 6px;
}
@media only screen and (max-width: 770px) {
  .content {
    height: 50% !important;
    flex-direction: column;
  }
  p{
    font-size: smaller;
  }
  h3{
    font-size: 1.5rem !important
  }
}
/* reservation  */
.reservation{
    background-color: #e5e5e5;
    min-height: 100vh;
    color: #042759;
}
.traveler-data{
padding: 30px;
margin: auto;
background: white;
border-radius: 8px;
/* text-align: center; */
width: 70%;
}
.mat-form-field-appearance-fill .mat-form-field-flex {padding: 0;}
/* flights */
.flights{
    background-color: #e5e5e5;
    min-height: 100vh;
    color: #042759;
}
.header{
    background-color: #042759;
    border-radius: 0 0 10px 10px;
}
.flight{
    background-color: #fff;
}
.gray-color{
    color: #444560;
}
.flightIcon{
    animation: flightAnimation 1s linear 0s infinite normal forwards;
}
@keyframes flightAnimation {
    0% {
        opacity: 0;
        transform: translateX(-30px);
      }
    
      25% {
        opacity: 1;
        transform: translateX(-20px);
      }
      70% {
        opacity: 1;
        transform: translateX(-5px);
      }
      100%{
          opacity: 0;
          transform: translateX(0px);
      }
  }